<div class="row">
    <div class="col-6">
        <h2>The News</h2>
        <a href= "/scrape">Scrape the News</a>

        <ul style="font-size:large;">
            {{#each articles}} 
            <div>
            {{this.title}} 
            <br>
            <img src= {{this.img}}></img>
            <br>
            <a href= {{this.link}}>Click Here for link</a>
            <br>
            </div>
            {{/each}}
        </ul>
    </div>