<style>
.comments {
    position: fixed;
    top: 100;
}
</style>

<div class="container">
<div class="row">
    <div class="col-6">
        <h2>The Good News is...</h2>
        <ul style="font-size:large;">
            {{#each articles}}
            <div id="news">
                <h5>{{this.title}}</h5>
                <br>
                <img id="img" src={{this.img}}>
                <br>
                <a href={{this.link}}>Click Here for link</a>
                <br>
                <button type="button" class="btn btn-primary commentId" data-toggle="modal" data-target="#exampleModal" data-id={{this.id}}>
                    Comments
                </button>
            </div>
            {{/each}}
        </ul>
    </div>
    <div class="col-6">
        <div class="comments"></div>
    </div>
</div>
</div>