<div class="row">
    <div class="col-6">
        <h2>The News</h2>
        <ul style="font-size:large;">
            {{#each articles}} {{this.title}} {{this.link}} {{/each}}
        </ul>
    </div>