.jumbotron {
    background-image: url(./images/hotAirBalloons.jpg);
    background-repeat: no-repeat;
    margin-bottom: 0px;
 
    background-position: 0% 25%; 
    background-size: cover;

    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-bottom: 50px;
    
}

.wrapper {
    text-align: center;
}

#goodNewsBtn {
    position: absolute;
    top: 50%;
}

.display-4 {
    font-weight: bold;
}

#img {
    width: 300px;
    margin-bottom: 10px;
} 

h1 {
    margin-left: 10px;
}

h2 {
    font-family: 'Shift' sans-serif;
    font-size: xx-large;
    margin-bottom: 50px;
}

.btn {
    background-color: transparent;
    color: black;
    text-shadow: none;
    outline-color: white;
    font-family: inherit;
    margin-bottom: 20px;
}

#news {
    font-family: 'Shift' sans-serif;
    font-size: large;
    margin-bottom: 20px;
}

.comments{
    position: fixed;
    top: 100;
    /* padding: 150px; */
}

#saveBtn {
    background-color: transparent;
    color: black;
    text-shadow: none;
    outline-color: white;
    font-family: inherit;
}
